@model FWAStatsWeb.Models.ClanViewModels.IndexViewModel

@{
    ViewBag.Title = Model.IsMyClans ? "My clans" : "Clans";
    ViewBag.MetaDescription = "List of clans in FWA, Farm War Alliance, Clash of Clans";
    var activeClansClass = Model.IsMyClans ? "" : "active";
    var myClansClass = Model.IsMyClans ? "active" : "";

}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    @if (Model.IsMyClans)
    {
        <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    }
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>

<ul class="pagination">
    <li class="@activeClansClass"><a asp-area="" asp-controller="Clans" asp-action="Index">Active</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Departed">Departed</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Following">Following</a></li>
    <li class="@myClansClass"><a asp-area="" asp-controller="Clans" asp-action="My">My clans</a></li>
</ul>

<div class="input-group" style="margin-bottom:20px;">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" id="search" class="form-control" placeholder="Search" aria-describedby="basic-addon1" />
</div>

<table id="table" class="table table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th width="35"></th>
            <th>
                Clan
            </th>
            <th>
                Submit Access
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clan in Model)
        {
            string resultType = "text-success";
            string resultMessage = "";
            if (clan.PendingWeightSubmit)
            {
                resultType = "text-warning";
                resultMessage = "Pending";
            }
            else
            {
                resultMessage = string.Format("Submitted  {0}", FWAStatsWeb.Logic.Utils.TimeSpanToString(DateTime.UtcNow.Subtract(clan.WeightSubmitDate)));
                if (clan.WeightSubmitDate == DateTime.MinValue)
                {
                    resultMessage = "Missing";
                    resultType = "text-default";
                }
                if (clan.WeightSubmitDate > DateTime.Now.AddDays(-28))
                {
                    resultType = "text-success";
                }
                else if (clan.WeightSubmitDate > DateTime.Now.AddDays(-42))
                {
                    resultType = "text-warning";
                }
                else
                {
                    resultType = "text-danger";
                }
            }
            <tr>
                <td style="padding:0px;">
                    <img src="@clan.BadgeUrl" width="35" height="35" />
                </td>
                <td class="search">
                    <a asp-route-id="@clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name</a>
                </td>
                <td>
                    <form asp-controller="Clans" asp-action="SubmitAccess" method="post" class="form-inline">
                        <input asp-for="@clan.Tag" name="ClanTag" type="hidden" />
                        <input asp-for="@clan.Name" name="ClanName" type="hidden" />
                        <div class="input-group">
                            <select style="min-width:100px;" asp-for="@clan.SubmitRestriction" asp-items="@Html.GetEnumSelectList(typeof(SubmitRestriction))" name="SubmitRestriction" class="form-control"></select>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Change</button>
                            </span>
                        </div>
                    </form>
                </td>
                <td>
                    <a asp-route-id="@clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Weight" class="btn btn-default">Weights</a>
                </td>
                <td>
                    <span class="@resultType">@resultMessage</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsMyClans)
{
    <div class="alert alert-info">
        <strong>Note!</strong>
        Showing only your clans in FWA.
    </div>
}

@section scripts {
    <script type="text/javascript">

        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $('#table > tbody > tr').show().filter(function () {
                var text = $(this).children(".search").text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    </script>
}