@model LWFStatsWeb.Models.HomeViewModels.IndexViewModel

@{
    ViewBag.Title = "";
    ViewBag.MetaDescription = "Statistics of clans in Farm War Alliance (FWA), Clash of Clans";
}

<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>

<div class="jumbotron header-jumbo">
    <h1>💎 FWA Stats</h1>
    <p>
        Statistics about FWA clans and wars.
    </p>
</div>

<div class="row">
    @foreach (var stats in Model.LastSyncs)
    {
        <div class="col-sm-6">
            <h3>Latest war</h3>
            <div id="piechart" style="width:300px;height:200px"><p><span class="glyphicon glyphicon-hourglass"></span> Loading...</p></div>
            <div style="margin-top:10px;"><a asp-area="" asp-controller="Syncs" asp-action="Details" asp-route-id="@stats.LastSyncName" class="btn btn-default">More details</a></div>
        </div>
    }
    @foreach (var history in Model.SyncHistories)
    {
        <div class="col-sm-6">
            <h3>Last @history.Syncs.Count wars</h3>
            <div id="areachart" style="width:300px;height:200px"><p><span class="glyphicon glyphicon-hourglass"></span> Loading...</p></div>
            <div style="margin-top:10px;"><a asp-area="" asp-controller="Syncs" asp-action="Index" class="btn btn-default">More details</a></div>
        </div>
    }
    @foreach (var counters in Model.Counters)
    {
        <div class="col-sm-6">
            <h3>Key numbers</h3>
            <table>
                <tr>
                    <td style="padding:5px;"><b>@counters.ClanCount</b></td>
                    <td style="padding:5px;">clans</td>
                </tr>
                <tr>
                    <td style="padding:5px;"><b>@counters.MemberCount</b></td>
                    <td style="padding:5px;">members</td>
                </tr>
                <tr>
                    <td style="padding:5px;"><b>@counters.WinPercentage%</b></td>
                    <td style="padding:5px;">win ratio</td>
                </tr>
                <tr>
                    <td style="padding:5px;"><b>@counters.MatchPercentage%</b></td>
                    <td style="padding:5px;">match ratio</td>
                </tr>
            </table>
            <p style="margin-top:20px;"><a asp-area="" asp-controller="Clans" asp-action="Index" class="btn btn-default">View all clans</a></p>
        </div>
    }
</div>

@section scripts {

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(function() {

            @foreach (var group in Model.LastSyncs)
            {
                var data = "piedata";
                var options = "pieoptions";
                var chart = "piechart";
                <text>
                var @data = google.visualization.arrayToDataTable([
                    ['Wars', 'Count'],
                    ['Matches', @group.AllianceMatches],
                    ['Mismatches', @group.WarMatches],
                    ['Didn\'t start', @group.NotStarted]
                ]);

                var @options = {
                    pieHole: 0.4,
                    chartArea: { left: 15, top: 15, width: '270', height: '170' }
                };

                new google.visualization.PieChart(document.getElementById('@chart')).draw(@data, @options);
                </text>
            }
            @foreach(var history in Model.SyncHistories)
            {
                var data = "areadata";
                var options = "areaoptions";
                var chart = "areachart";
                <text>
                var @data = google.visualization.arrayToDataTable([
                    ['Date', 'Matches', 'Mismatches', 'Didn\'t start']
                </text>
                @foreach(var sync in history.Syncs)
                {
                    @: ,['@sync.Name', @sync.AllianceMatches, @sync.WarMatches, @sync.NotStarted]
                }
                <text>
                ]);

                var @options = {
                    isStacked: 'relative',
                    legend: {position: 'top', maxLines: 3},
                    vAxis: {format: 'percent' },
                    chartArea: { left: 35, top: 15, width: '250', height: '170' }
                };

                new google.visualization.AreaChart(document.getElementById('@chart')).draw(@data, @options);
                </text>
            }

        });

    </script>
}