@model LWFStatsWeb.Models.HomeViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <img class="img-responsive" src="~/images/clash_header.jpg" />
    </div>
</div>

<div class="row">
    @if (Model.ClansNeedingHelp.Count > 0)
    {
        <div class="col-sm-6">
            <h2>Clans recruiting</h2>
            @foreach (var clan in Model.ClansNeedingHelp.OrderBy(c => c.Members))
            {
                var members_needed = 40 - clan.Members;
                var plural = "s";
                var extra_members = members_needed * -1;
                if (extra_members == 1 || members_needed == 1)
                {
                    plural = "";
                }
                if (members_needed > 0)
                {
                    <p class="text-danger"><a class="text-danger" asp-route-id="@clan.Tag" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name needs <b>@members_needed</b> more member<span>@plural</span></a></p>
                }
                else if (members_needed == 0)
                {
                    <p class="text-warning"><a class="text-warning" asp-route-id="@clan.Tag" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name doesn't have any extra members</a></p>
                }
                else
                {
                    <p class="text-success"><a class="text-success" asp-route-id="@clan.Tag" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name has only <b>@extra_members</b> extra member<span>@plural</span></a></p>
                }
            }
        </div>
    }
    <div class="col-sm-6">
        <h2>Latest War</h2>
        <p><b>@Model.LatestSync.Name</b></p>
        <div id="piechart" style="width:300px;height:200px"><p><span class="glyphicon glyphicon-hourglass"></span> Loading...</p></div>
    </div>
    <div class="col-sm-6">
        <h2>Key numbers</h2>
        <p><b>@Model.Counters.ClanCount</b> clans</p>
        <p><b>@Model.Counters.MemberCount</b> members</p>
        <p><b>@Model.Counters.SyncCount</b> war syncs</p>
        <p><b>@Model.Counters.WarCount</b> war results</p>
    </div>
    <div class="col-sm-6">
        <h2>Clans</h2>
        <p>View all the clans in the alliance.</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Clans" asp-action="Index">Show clans &raquo;</a></p>
    </div>
    <div class="col-sm-6">
        <h2>War Syncs</h2>
        <p>View status of recent war syncs.</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Syncs" asp-action="Index">Show war syncs &raquo;</a></p>
    </div>
    <div class="col-sm-6">
        <h2>Following Clans</h2>
        <p>View war clans that are syncing with us.</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Clans" asp-action="Following">Show following clans &raquo;</a></p>
    </div>
    <div class="col-sm-6">
        <h2>Graph</h2>
        <p>View graph visualization of latest 5 wars.</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Graphs" asp-action="Index">Show graph &raquo;</a></p>
    </div>
</div>

@section scripts {

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Wars', 'Count'],
                ['LWF matches', @Model.LatestSync.AllianceMatches],
                ['War matches', @Model.LatestSync.WarMatches],
                ['Did not start', @Model.LatestSync.NotStarted]
            ]);

            var options = {
                pieHole: 0.4,
                chartArea: { left: 15, top: 15, width: '270', height: '170' }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

    </script>
}