@model FWAStatsWeb.Models.SyncViewModels.DetailsViewModel

@{
    ViewBag.Title = "Sync " + Model.Sync.DisplayName;
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Syncs" asp-action="Index">Syncs</a></li>
    <li class="active">@Model.Sync.DisplayName</li>
</ol>

<h2>@ViewBag.Title</h2>

@{ 
    var team00Active = Model.TeamSize != Constants.WAR_SIZE1 && Model.TeamSize != Constants.WAR_SIZE2 ? "active" : "";
    var team40Active = Model.TeamSize == Constants.WAR_SIZE1 ? "active" : "";
    var team50Active = Model.TeamSize == Constants.WAR_SIZE2 ? "active": "";
}

<ul class="pagination">
    <li class="@team00Active"><a asp-area="" asp-controller="Syncs" asp-action="Details" asp-route-id="@Model.Sync.ID" asp-route-teamSize="">All</a></li>
    <li class="@team40Active"><a asp-area="" asp-controller="Syncs" asp-action="Details" asp-route-id="@Model.Sync.ID" asp-route-teamSize="40">40 vs 40</a></li>
    <li class="@team50Active"><a asp-area="" asp-controller="Syncs" asp-action="Details" asp-route-id="@Model.Sync.ID" asp-route-teamSize="50">50 vs 50</a></li>
</ul>

<div class="input-group" style="margin-bottom:20px;">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" id="search" class="form-control" placeholder="Search" aria-describedby="basic-addon1" />
</div>

<table id="table" class="table table-condensed table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th class="text-right">Clan</th>
            <th width="35"></th>
            <th class="text-nowrap text-center" width="35">
                Result
            </th>
            <th width="35"></th>
            <th>
                Opponent
            </th>
            <th>
                Search Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var war in Model.Wars)
        {
            var offset = war.PreparationStartTime.Subtract(Model.Sync.Start).ToString("c");
            var offsetOrdering = war.PreparationStartTime.Subtract(Model.Sync.Start.AddHours(-6)).ToString("c");
            var war_class = "";
            var opp_class = "";
            if (war.Result == "win")
            {
                war_class = "text-success";
                opp_class = "text-danger";
            }
            else if (war.Result == "lose")
            {
                war_class = "text-danger";
                opp_class = "text-success";
            }
            else
            {
                war_class = "text-muted";
                opp_class = "text-muted";
            }
            <tr class="@war_class">
                <td class="text-right text-nowrap search">
                    <a class="@war_class" asp-route-id="@war.ClanLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@war.ClanName</a>
                    <br />
                    <small class="text-info">@war.ClanExpEarned xp</small>
                    <small class="text-muted">@war.ClanDestructionPercentage.ToString("0.#") %</small>
                    <small class="text-warning" style="font-weight:bold">@war.ClanStars <span class="glyphicon glyphicon-star" /></small>
                </td>
                <td style="vertical-align:middle">
                    <img src="@war.ClanBadgeUrl" width="35" height="35" />
                </td>
                <td class="text-nowrap text-center" width="35">
                    @war.Result
                    <br />
                    <small class="text-muted text-center text-nowrap">@war.TeamSize vs @war.TeamSize</small>
                </td>
                <td style="vertical-align:middle">
                    <img src="@war.OpponentBadgeUrl" width="35" height="35" />
                </td>
                <td class="text-nowrap search">
                    <a class="@opp_class" asp-route-id="@war.OpponentLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@war.OpponentName</a>
                    @if (!war.Matched)
                    {
                        if (war.Blacklisted)
                        {
                            <small class="label label-default">B<span class="hidden-xs">lacklisted</span></small>
                        }
                        else
                        {
                            <small class="label label-danger">W<span class="hidden-xs">ar clan</span></small>
                        }
                    }
                    <br />
                    <small class="text-warning" style="font-weight:bold">@war.OpponentStars <span class="glyphicon glyphicon-star" /></small>
                    <small class="text-muted">@war.OpponentDestructionPercentage.ToString("0.#") %</small>
                </td>
                <td class="text-nowrap">
                    <span style="display:none;">@offsetOrdering</span>@offset
                    @if (!war.Synced)
                    {
                        <br />
                        <small class="label label-warning">Out of sync</small>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">

        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $('#table > tbody > tr').show().filter(function () {
                var text = $(this).children("td.search").children("a").text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    </script>
}