@{
    ViewBag.Title = "Data";
    var sample_clan = "LGQJYLPY";
    //var sample_player = "VLJJ0QGP";
    string sample_url;
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">Data</li>
</ol>

<h2>API methods</h2>

<h3 id="get-service-list">Clan Members</h3>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Description</th>
            <td>Get list of clan members, including TH level and weight (if manually filled)</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>@Url.Action("ClanMembers", new { id = "CLANTAG", format = "FORMAT" })</td>
        </tr>
        <tr>
            <th>Sample CSV</th>
            @{ sample_url = Url.Action("ClanMembers", new { id = sample_clan, format = "csv" }); }
            <td><a href="@sample_url">@sample_url</a></td>
        </tr>
        <tr>
            <th>Sample JSON</th>
            @{ sample_url = Url.Action("ClanMembers", new { id = sample_clan, format = "json" }); }
            <td><a href="@sample_url">@sample_url</a></td>
        </tr>
        <tr>
            <th>Sample XML</th>
            @{ sample_url = Url.Action("ClanMembers", new { id = sample_clan, format = "xml" }); }
            <td><a href="@sample_url">@sample_url</a></td>
        </tr>
    </tbody>
</table>