<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (ViewData.ContainsKey("MetaRobots"))
    {
        <meta name="robots" content="@ViewData["MetaRobots"]" />
    }

    <title>@ViewData["Title"] 💎 FWA Stats</title>
    <meta property="og:title" content="@ViewData["Title"] 💎 FWA Stats" />

    @if (ViewData.ContainsKey("MetaDescription"))
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
        <meta property="og:description" content="@ViewData["MetaDescription"]" />
    }

    @if (ViewData.ContainsKey("MetaImage"))
    {
        <meta property="og:image" content="@ViewData["MetaImage"]" />
    }
    else
    {
        <meta property="og:image" content="/images/balloon_parade.jpg" />
    }

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82243218-1', 'auto');
  ga('send', 'pageview');
            </script>
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">💎 FWA Stats</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
                    <li><a asp-area="" asp-controller="Syncs" asp-action="Index">Syncs</a></li>
                    <li><a asp-area="" asp-controller="Players" asp-action="Index">Players</a></li>
                    <li><a asp-area="" asp-controller="Data" asp-action="Index">Data</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

                </ul>
@*
    @await Html.PartialAsync("_LoginPartial")
*@
                </div>

            </div>
        </div>
        <div class="container body-content fill">
            @RenderBody()
            <div class="col-sm-12">
                <hr />
                <p>
                    <small class="text-muted">
                        This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it.
                        For more information see Supercell’s Fan Content Policy: <a href="http://www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>.
                    </small>
                </p>
            </div>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/jquery.tablesorter/dist/js/jquery.tablesorter.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"
                    asp-fallback-src="~/lib/jquery.tablesorter/dist/js/jquery.tablesorter.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.tablesorter">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)

    </body>
    </html>
