@model List<LWFStatsWeb.Models.ClanViewModels.FormerClan>

@{
    ViewBag.Title = "Departed Clans";
    ViewBag.MetaRobots = "noindex, nofollow";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    <li class="active">Departed Clans</li>
</ol>

<h2>Departed Clans</h2>

<ul class="pagination">
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">All</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="FWA">FWA</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="FWAL">FWAL</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Following">Following</a></li>
    <li class="active"><a asp-area="" asp-controller="Clans" asp-action="Departed">Departed</a></li>
</ul>

<table class="table table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th width="35"></th>
            <th>
                Name
            </th>
            <th>
                Group
            </th>
            <th>
                Joined
            </th>
            <th>
                Departed
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clan in Model)
        {
            <tr>
                <td style="padding:0px;">
                    <img src="@clan.BadgeURL" width="35" height="35" />
                </td>
                <td>
                    <a asp-route-id="@clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name</a>
                </td>
                <td>
                    @clan.Group
                </td>
                <td>
                    @clan.ValidFrom.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @clan.ValidTo.ToString("yyyy-MM-dd")
                </td>
            </tr>
        }
    </tbody>
</table>