@model LWFStatsWeb.Models.ClanViewModels.DetailsViewModel

@{
    ViewBag.Title = @Model.Clan.Name;
    if (Model.InAlliance)
    {
        ViewBag.MetaDescription = @Model.Clan.Name + ", Farm War Alliance (FWA), Clash of Clans";
    }
    else
    {
        ViewBag.MetaRobots = "noindex, nofollow";
    }
}

<div class="well" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <img src="@Model.Clan.BadgeUrl" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
            <h3 style="margin-top:10px;margin-bottom:0px">@Model.Clan.Name</h3>
            <div class="text-muted">
                @Model.Clan.Tag
                @if(!string.IsNullOrEmpty(Model.Clan.Group))
                {
                    <span>#@Model.Clan.Group</span>
                }
                <a class="text-muted" href="http://kuilin.net/cc/clan.php?tag=@Model.Clan.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">hocolate</span>C<span class="hidden-xs">lash</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@Model.Clan.Description</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-xs-6 col-sm-3"><b>Location:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.LocationName)</b></div>
                <div class="col-xs-6 col-sm-3"><b>War freq.:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarFrequency)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Members:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.Members)/50</b></div>
                <div class="col-xs-6 col-sm-3"><b>Level:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.ClanLevel)</b></div>
                <div class="col-xs-6 col-sm-3"><b>W<span class="hidden-xs">in</span>/T<span class="hidden-xs">ie</span>/L<span class="hidden-xs">oss</span>:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarWins)/@Html.DisplayFor(model => model.Clan.WarTies)/@Html.DisplayFor(model => model.Clan.WarLosses)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Points:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.ClanPoints)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Streak:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarWinStreak)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Trophies:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.RequiredTrophies)</b></div>
            </div>
        </div>
    </div>
</div>

@if (!Model.InAlliance && Model.Validity != null && !Model.Validity.IsValid())
{
    <div class="alert alert-info">
        Clan left alliance <a asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Edit">@Model.Validity.ValidTo.ToString("yyyy-MM-dd")</a>.
    </div>
}
else if (!Model.InAlliance && Model.Validity == null && Model.Clan.Wars.Any(w => w.Result == "lose"))
{
    <div class="alert alert-info">
        <a asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Edit">Mark clan as former alliance member</a>
    </div>
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#members">Members</a></li>
    <li><a data-toggle="tab" href="#wars">Wars</a></li>
</ul>

<div class="tab-content">
    <div id="members" class="tab-pane in active">
        @if (Model.Clan.MemberList != null)
        {
            <table id="myTable" class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th width="36"></th>
                        <th>
                            L<span class="hidden-xs">evel</span>
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            D<span class="hidden-xs">onations</span>
                        </th>
                        <th>
                            R<span class="hidden-xs">eceived</span>
                        </th>
                        <th>
                            T<span class="hidden-xs">rophies</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model.Clan.MemberList.OrderBy(m => m.ClanRank))
                    {
                        var member_class = "";
                        var member_role = "";
                        var member_role2 = "";
                        if (member.Role == "leader")
                        {
                            member_class = "label-danger";
                            member_role = "L";
                            member_role2 = "eader";
                        }
                        else if (member.Role == "coLeader")
                        {
                            member_class = "label-primary";
                            member_role = "C";
                            member_role2 = "o-Leader";
                        }
                        else if (member.Role == "admin")
                        {
                            member_class = "label-info";
                            member_role = "E";
                            member_role2 = "lder";
                        }
                <tr>
                    <td style="padding:0px;">
                        <img src="@member.BadgeUrl" width="36" height="36" />
                    </td>
                    <td>
                        @member.ExpLevel
                    </td>
                    <td>
                        @member.Name
                        @if (member_role != "")
                        {
                            <span class="text-right label @member_class">@member_role<span class="hidden-xs">@member_role2</span></span>
                        }
                    </td>
                    <td>
                        @member.Donations
                    </td>
                    <td>
                        @member.DonationsReceived
                    </td>
                    <td>
                        @member.Trophies
                    </td>
                </tr>
                    }
                </tbody>
            </table>
        }

    </div>
    <div id="wars" class="tab-pane">
        @if (Model.Clan.Wars != null)
        {
            <table id="myTable2" class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Opponent
                        </th>
                        <th>
                            Stars
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var war in Model.Clan.Wars.OrderByDescending(w => w.EndTime))
            {
                var war_class = "";
                if (war.Result == "win")
                {
                    war_class = "text-success";
                }
                else if (war.Result == "lose")
                {
                    war_class = "text-danger";
                }
                else
                {
                    war_class = "text-muted";
                }
                <tr class="@war_class">
                    <td>
                        @war.EndTime.ToString("yyyy-MM-dd")
                        @if (Model.InAlliance && Model.Validity != null && Model.Validity.ValidFrom > war.SearchTime)
                        {
                            <span class="label label-default">Not in alliance</span>
                        }
                        else
                        {
                            @if (!war.Synced && Model.InAlliance)
                            {
                                <span class="label label-warning">Out of sync</span>
                            }
                        }
                        @if (!Model.InAlliance && war.Matched)
                        {
                            <span class="label label-info">Alliance member</span>
                        }
                    </td>
                    <td>
                        <a class="@war_class" asp-route-id="@war.OpponentLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@war.OpponentName</a>
                        @if (!war.Matched && Model.InAlliance)
                        {
                            <span class="label label-danger">War clan</span>
                        }
                    </td>
                    <td>
                        @war.ClanStars - @war.OpponentStars
                    </td>
                </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        $(function () {
            $(".tablesorter").tablesorter();
        });

    </script>
}
