@model LWFStatsWeb.Models.ClanViewModels.DetailsViewModel

@{
    ViewBag.Title = @Model.Clan.Name;
    ViewBag.MetaImage = Model.Clan.BadgeUrl;
    if (Model.InAlliance)
    {
        ViewBag.MetaDescription = @Model.Clan.Name + ", Farm War Alliance (FWA), Clash of Clans";
    }

    ViewBag.MetaRobots = "noindex, nofollow";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    @if (Model.Validity != null && !Model.Validity.IsValid())
    {
        <li><a asp-area="" asp-controller="Clans" asp-action="Departed">Departed</a></li>
    }
    else if (!Model.InAlliance)
    {
        <li><a asp-area="" asp-controller="Clans" asp-action="Following">Following</a></li>
    }
    <li class="active">@Model.Clan.Name</li>
</ol>

<div class="well" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <img src="@Model.Clan.BadgeUrl" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
            <h3 style="margin-top:10px;margin-bottom:0px">@Model.Clan.Name</h3>
            <div class="text-muted">
                @Model.Clan.Tag
                <a class="text-muted" href="http://kuilin.net/cc/clan.php?tag=@Model.Clan.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">hocolate</span>C<span class="hidden-xs">lash</span></a>
                <a class="text-muted" href="https://www.clashofstats.com/clans/@Model.Clan.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">lash </span>o<span class="hidden-xs">f </span>S<span class="hidden-xs">tats</span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@Model.Clan.Description</p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-xs-6 col-sm-3"><b>Location:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.LocationName)</b></div>
                <div class="col-xs-6 col-sm-3"><b>War freq.:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarFrequency)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Members:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.Members)/50</b></div>
                <div class="col-xs-6 col-sm-3"><b>Level:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.ClanLevel)</b></div>
                <div class="col-xs-6 col-sm-3"><b>W<span class="hidden-xs">in</span>/T<span class="hidden-xs">ie</span>/L<span class="hidden-xs">oss</span>:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarWins)/@Html.DisplayFor(model => model.Clan.WarTies)/@Html.DisplayFor(model => model.Clan.WarLosses)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Points:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.ClanPoints)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Streak:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.WarWinStreak)</b></div>
                <div class="col-xs-6 col-sm-3"><b>Trophies:</b></div>
                <div class="col-xs-6 col-sm-3"><b>@Html.DisplayFor(model => model.Clan.RequiredTrophies)</b></div>
            </div>
        </div>
    </div>

</div>

@if (!Model.InAlliance && Model.Validity != null && !Model.Validity.IsValid())
{
    <div class="alert alert-info">
        Clan left alliance <a asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Edit">@Model.Validity.ValidTo.ToString("yyyy-MM-dd")</a>.
    </div>
}

@if (Model.InAlliance)
{
    <div style="margin-bottom:20px;">
        <a class="btn btn-default" asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Weight">Edit War Weights</a>
        <a class="btn btn-default" asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Track">Track Donations</a>
        <a class="btn btn-default" asp-route-id="@Model.Clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Attacks">Attack Summary</a>
    </div>
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#members">Members</a></li>
    <li><a data-toggle="tab" href="#wars">Wars</a></li>
    <li><a data-toggle="tab" href="#events">Events</a></li>
</ul>

<div class="tab-content">
    <div id="members" class="tab-pane active">
        @if (Model.Clan.MemberList != null)
        {
            <table class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th width="36"></th>
                        <th>
                            L<span class="hidden-xs">evel</span>
                        </th>
                        @if (Model.InAlliance)
                        {
                            <th>
                                TH
                            </th>
                        }
                        <th>
                            Name
                        </th>
                        <th>
                            D<span class="hidden-xs">onations</span>
                        </th>
                        <th>
                            R<span class="hidden-xs">eceived</span>
                        </th>
                        <th>
                            T<span class="hidden-xs">rophies</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
        @foreach (var member in Model.Clan.MemberList)
        {
            var member_class = "";
            var member_role = "";
            var member_role2 = "";
            if (member.Role == "leader")
            {
                member_class = "label-danger";
                member_role = "L";
                member_role2 = "eader";
            }
            else if (member.Role == "coLeader")
            {
                member_class = "label-primary";
                member_role = "C";
                member_role2 = "o-Leader";
            }
            else if (member.Role == "admin")
            {
                member_class = "label-info";
                member_role = "E";
                member_role2 = "lder";
            }
            <tr>
                <td style="padding:0px;">
                    <img src="@member.BadgeUrl" width="36" height="36" />
                </td>
                <td>
                    @member.ExpLevel
                </td>
                @if (Model.InAlliance)
                {
                    <td>
                        @member.TownHallLevel
                    </td>
                }
                <td>
                    <a asp-route-id="@member.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@member.Name</a>
                    @if (member_role != "")
                    {
                        <span class="text-right label @member_class">@member_role<span class="hidden-xs">@member_role2</span></span>
                    }
                </td>
                <td>
                    @member.Donations
                </td>
                <td>
                    @member.DonationsReceived
                </td>
                <td>
                    @member.Trophies
                </td>
            </tr>
        }
                </tbody>
            </table>
        }
    </div>
    <div id="wars" class="tab-pane">
        @if (Model.Clan.Wars != null)
        {
            <table class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th class="text-right">Clan</th>
                        <th width="35"></th>
                        <th class="text-nowrap text-center" width="35">
                            Result
                        </th>
                        <th width="35"></th>
                        <th>
                            Opponent
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var war in Model.Clan.Wars)
                    {
                        var war_class = "";
                        var opp_class = "";
                        if (war.Result == "win")
                        {
                            war_class = "text-success";
                            opp_class = "text-danger";
                        }
                        else if (war.Result == "lose")
                        {
                            war_class = "text-danger";
                            opp_class = "text-success";
                        }
                        else
                        {
                            war_class = "text-muted";
                            opp_class = "text-muted";
                        }
                        var valid_alliance_clan = false;
                        if (Model.Validity != null && Model.Validity.ValidFrom <= war.SearchTime && Model.Validity.ValidTo >= war.SearchTime)
                        {
                            valid_alliance_clan = true;
                        }
                        <tr class="@war_class">
                            <td class="text-right text-nowrap">
                                @if (!valid_alliance_clan)
                                {
                                    <span class="label label-danger">W<span class="hidden-xs">ar clan</span></span>
                                }
                                @war.ClanName
                                <br />
                                <small class="text-info">@war.ClanExpEarned xp</small>
                                <small class="text-muted">@war.ClanDestructionPercentage.ToString("0.#") %</small>
                                <small class="text-warning" style="font-weight:bold">@war.ClanStars <span class="glyphicon glyphicon-star" /></small>
                            </td>
                            <td style="vertical-align:middle">
                                <img src="@war.ClanBadgeUrl" width="35" height="35" />
                            </td>
                            <td class="text-nowrap text-center" width="35">
                                @war.Result
                                <br />
                                <small class="text-muted text-center text-nowrap">@war.TeamSize vs @war.TeamSize</small>
                            </td>
                            <td style="vertical-align:middle">
                                <img src="@war.OpponentBadgeUrl" width="35" height="35" />
                            </td>
                            <td class="text-nowrap">
                                <a class="@opp_class" asp-route-id="@war.OpponentLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@war.OpponentName</a>
                                @if (!war.Matched && valid_alliance_clan)
                                {
                                    if (war.Blacklisted)
                                    {
                                        <small class="label label-default">B<span class="hidden-xs">lacklisted</span></small>
                                    }
                                    else
                                    {
                                        <small class="label label-danger">W<span class="hidden-xs">ar clan</span></small>
                                    }
                                }
                                <br />
                                <small class="text-warning" style="font-weight:bold">@war.OpponentStars <span class="glyphicon glyphicon-star" /></small>
                                <small class="text-muted">@war.OpponentDestructionPercentage.ToString("0.#") %</small>
                            </td>
                            <td class="text-nowrap">
                                <span class="hidden-xs">@war.SearchTime.ToString("yyyy-MM-dd")</span>
                                <span class="visible-xs">@DateTime.UtcNow.Subtract(@war.SearchTime).Days<span>d ago</span></span>
                                <br />
                                @if (Model.WarsWithDetails.Contains(war.ID))
                                {
                                    <a class="label label-info" asp-route-id="@war.ClanLinkID" asp-route-warid="@war.WarLinkID" asp-area="" asp-controller="Clans" asp-action="WarDetails">Details</a>
                                }
                                @if (valid_alliance_clan && !war.Synced)
                                {
                                    <small class="label label-warning">Out of sync</small>
                                }
                                @if (!valid_alliance_clan && war.Synced && !war.Matched)
                                {
                                    <small class="label label-warning">Synced</small>
                                }
                                @if (!valid_alliance_clan && war.Synced && war.Matched)
                                {
                                    <small class="label label-danger">Synced</small>
                                }
                                @if (war.Friendly)
                                {
                                    <small class="label label-success">Friendly</small>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div id="events" class="tab-pane">
        @if (Model.Events != null)
        {
            <table class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var clanEvent in Model.Events)
                    {
                        <tr>
                        @if (clanEvent.EventType == PlayerEventType.Join)
                        {
                            <td class="text-success"><b><a class="text-success" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> joined clan</td>
                        }
                        @if (clanEvent.EventType == PlayerEventType.Leave)
                        {
                            <td class="text-danger"><b><a class="text-danger" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> left clan</td>
                        }
                        @if (clanEvent.EventType == PlayerEventType.Promote)
                        {
                            <td class="text-success"><b><a class="text-success" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> is promoted to @clanEvent.Value</td>
                        }
                        @if (clanEvent.EventType == PlayerEventType.Demote)
                        {
                            <td class="text-danger"><b><a class="text-danger" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> is demoted to @clanEvent.Value</td>
                        }
                        @if (clanEvent.EventType == PlayerEventType.Stars)
                        {
                            <td class="text-warning"><b><a class="text-warning" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> scored @clanEvent.Value stars</td>
                        }
                        @if (clanEvent.EventType == PlayerEventType.Townhall)
                        {
                            <td class="text-primary"><b><a class="text-primary" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@clanEvent.Name</a></b> upgraded to TH<span>@clanEvent.Value</span></td>
                        }
                            <td>
                                @clanEvent.TimeDesc
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>