@model LWFStatsWeb.Models.Clan

@{
    ViewData["Title"] = @Model.Name;
}

<div class="well" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <img src="@Model.BadgeUrl.Small" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
            <h3 style="margin-top:10px;margin-bottom:0px">@Model.Name</h3>
            <div class="text-muted">@Model.Tag</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Model.Description
            <br class="visible-xs visible-sm" />
            <br class="visible-xs visible-sm" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-3"><b>Members:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.MemberCount)/50</b></div>
                <div class="col-xs-3"><b>Level:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.ClanLevel)</b></div>
            </div>
            <div class="row">
                <div class="col-xs-3"><b>W<span class="hidden-xs">in</span>/T<span class="hidden-xs">ie</span>/L<span class="hidden-xs">oss</span>:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.WarWins)/@Html.DisplayFor(model => model.WarTies)/@Html.DisplayFor(model => model.WarLosses)</b></div>
                <div class="col-xs-3"><b>Points:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.ClanPoints)</b></div>
            </div>
            <div class="row">
                <div class="col-xs-3"><b>Streak:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.WarWinStreak)</b></div>
                <div class="col-xs-3"><b>Trophies:</b></div>
                <div class="col-xs-3"><b>@Html.DisplayFor(model => model.RequiredTrophies)</b></div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#members">Members</a></li>
    <li><a data-toggle="tab" href="#wars">Wars</a></li>
</ul>

<div class="tab-content">
    <div id="members" class="tab-pane in active">
        @if (Model.Members != null)
        {
            <table id="myTable" class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            L<span class="hidden-xs">evel</span>
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            D<span class="hidden-xs">onations</span>
                        </th>
                        <th>
                            R<span class="hidden-xs">eceived</span>
                        </th>
                        <th>
                            T<span class="hidden-xs">rophies</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model.Members.OrderBy(m => m.ClanRank))
                    {
                        var member_class = "";
                        if (member.Role == "leader")
                        {
                            member_class = "text-danger";
                        }
                        else if (member.Role == "coLeader")
                        {
                            member_class = "text-primary";
                        }
                        else if (member.Role == "member")
                        {
                            member_class = "text-muted";
                        }
                        <tr class="@member_class">
                            <td>
                                @member.ClanRank
                            </td>
                            <td>
                                @member.ExpLevel
                            </td>
                            <td>
                                @member.Name
                            </td>
                            <td>
                                @member.Donations
                            </td>
                            <td>
                                @member.DonationsReceived
                            </td>
                            <td>
                                @member.Trophies
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
    <div id="wars" class="tab-pane">
        @if (Model.Wars != null)
        {
            <table id="myTable2" class="table table-condensed table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Opponent
                        </th>
                        <th>
                            Stars
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var war in Model.Wars.OrderByDescending(w => w.EndTime))
                    {
                        var war_class = "";
                        if (war.Result == "win")
                        {
                            war_class = "text-success";
                        }
                        else if (war.Result == "lose")
                        {
                            war_class = "text-danger";
                        }
                        else
                        {
                            war_class = "text-muted";
                        }
                        <tr class="@war_class">
                            <td>
                                @war.EndTime.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @war.OpponentResult.Name
                            </td>
                            <td>
                                @war.ClanResult.Stars - @war.OpponentResult.Stars
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript">

        $(function () {
            $(".tablesorter").tablesorter();
        });

    </script>
}
