@model List<LWFStatsWeb.Models.ClanViewModels.FollowingClan>

@{
    ViewBag.Title = "Following Clans";
    ViewBag.MetaRobots = "noindex, nofollow";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    <li class="active">Following Clans</li>
</ol>

<h2>Following Clans</h2>

<ul class="pagination">
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">All</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="FWA">FWA</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="FWAL">FWAL</a></li>
    <li class="active"><a asp-area="" asp-controller="Clans" asp-action="Following">Following</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Departed">Departed</a></li>
</ul>

<table id="myTable" class="table table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th width="35"></th>
            <th>
                Clan
            </th>
            <th>
                Wars
            </th>
            <th>
                Latest
            </th>
            <th>
                Against
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clan in Model)
        {
            <tr>
                <td style="padding:0px;">
                    <img src="@clan.BadgeURL" width="35" height="35" />
                </td>
                <td>
                    <a asp-route-id="@clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clan.Wars)
                </td>
                <td>
                    @clan.LatestDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    <a asp-route-id="@clan.LatestLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clan.LatestClan</a>
                </td>
            </tr>
        }
    </tbody>
</table>