@model LWFStatsWeb.Models.ClanViewModels.IndexViewModel

@{
    ViewBag.Title = Model.Group + " Clans";
    ViewBag.MetaDescription = "List of clans in FWA, Farm War Alliance, Clash of Clans";
}

@{
    var grp_all = Model.Group == "" ? "active" : "";
    var grp_fwa = Model.Group == "FWA" ? "active" : "";
    var grp_fwal = Model.Group == "FWAL" ? "active" : "";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    @if (Model.Group == "")
    {
        <li class="active">Clans</li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
        <li class="active">@Model.Group</li>
    }
</ol>

<h2>@Model.Group Clans</h2>

<ul class="pagination">
    <li class="@grp_all"><a asp-area="" asp-controller="Clans" asp-action="Index">All</a></li>
    <li class="@grp_fwa"><a asp-area="" asp-controller="Clans" asp-action="FWA">FWA</a></li>
    <li class="@grp_fwal"><a asp-area="" asp-controller="Clans" asp-action="FWAL">FWAL</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Following">Following</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Departed">Departed</a></li>
</ul>

<table class="table table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th width="35"></th>
            <th>
                Clan
            </th>
            <th>
                <span class="glyphicon glyphicon-user"></span>
            </th>
            <th>
                <span>Gr<span class="hidden-xs">ou</span>p</span>
            </th>
            <th>
                <span>Wars</span>
            </th>
            <th>
                <span>M<span class="hidden-xs">atch</span>%</span>
            </th>
            <th>
                <span>W<span class="hidden-xs">in</span>%</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clan in Model)
        {
            <tr>
                <td style="padding:0px;">
                    <img src="@clan.BadgeUrl" width="35" height="35" />
                </td>
                <td>
                    <a asp-route-id="@clan.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clan.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clan.Members)
                </td>
                <td>
                    @clan.Group
                </td>
                <td>
                    @clan.WarCount
                </td>
                <td>
                    @clan.MatchPercentage
                </td>
                <td>
                    @clan.WinPercentage
                </td>
            </tr>
        }
    </tbody>
</table>