@model LWFStatsWeb.Models.Clan

@{
    ViewBag.Title = "Tracking " + Model.Name;
    ViewBag.MetaRobots = "noindex, nofollow";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Details" asp-route-id="@Model.LinkID">@Model.Name</a></li>
    <li class="active">Track</li>
</ol>

<div class="well" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <img src="@Model.BadgeUrl" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
            <h3 style="margin-top:10px;margin-bottom:0px">@Model.Name</h3>
            <div class="text-muted">
                @Model.Tag
                <a class="text-muted" href="http://kuilin.net/cc/clan.php?tag=@Model.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">hocolate</span>C<span class="hidden-xs">lash</span></a>
                <a class="text-muted" href="https://www.clashofstats.com/clans/@Model.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">lash </span>o<span class="hidden-xs">f </span>S<span class="hidden-xs">tats</span></a>
            </div>
        </div>
    </div>
</div>

<h4>Track Donations</h4>

<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> 
    Donation and request counts for all clan members are read every minute.
    It takes few minutes for the donations to show up.
    Tracking is stopped automatically after few hours.
    Tracked data is not stored on server, it exists only in this browser window.
</div>

<div class="messages"></div>
<div class="status"></div>

<input type="button" class="btn btn-start" value="Start">
<input type="button" class="btn btn-stop" style="display:none" value="Stop">

@section Scripts {
    <script type="text/javascript">

        var track_progress = 0;
        var track_enabled = false;
        var track_counter = 0;
        var prev_data = null;

        function findMember(members, tag) {
            for (var i in members) {
                if (members[i].tag == tag) {
                    return members[i];
                }
            }
            return null;
        }

        function getTime() {
            var d = new Date();
            var h = d.getHours();
            var m = d.getMinutes();
            var hh = (h > 9 ? '' : '0') + h;
            var mm = (m > 9 ? '' : '0') + m;
            return hh + ':' + mm;
        }

        function createMessage(style, msg) {
            var p = $("<p/>");
            p.addClass(style);
            p.text(getTime() + ' ' + msg);
            p.appendTo($(".messages"));
        }

        function dataCallback(data, responseText, jqXHR) {

            if (jqXHR.status != 200 || !track_enabled) {
                trackingStopped();
                return;
            }

            for (var i in prev_data) {
                var old_mbr = prev_data[i];
                var new_mbr = findMember(data, old_mbr.tag);
                if (new_mbr == null) {
                    createMessage('text-danger', old_mbr.name + ' left clan');
                }
            }

            for (var i in data) {
                var new_mbr = data[i];
                var old_mbr = findMember(prev_data, new_mbr.tag);
                if (old_mbr == null) {
                    createMessage('text-success', new_mbr.name + ' joined clan');
                    if (new_mbr.donated > 0) {
                        createMessage('text-warning', new_mbr.name + ' donated ' + new_mbr.donated);
                    }
                } else {
                    if (new_mbr.donated > old_mbr.donated) {
                        createMessage('text-warning', new_mbr.name + ' donated ' + (new_mbr.donated - old_mbr.donated));
                    }
                }
            }

            for (var i in data) {
                var new_mbr = data[i];
                var old_mbr = findMember(prev_data, new_mbr.tag);
                if (old_mbr == null) {
                    if (new_mbr.received > 0) {
                        createMessage('text-primary', new_mbr.name + ' received ' + new_mbr.received);
                    }
                }
                else {
                    if (new_mbr.received > old_mbr.received) {
                        createMessage('text-primary', new_mbr.name + ' received ' + (new_mbr.received - old_mbr.received));
                    }
                }
            }

            scheduleNext(data);
        }

        function failCallback(data, responseText, jqXHR) {
            createMessage("bg-danger", "Tracking failure");
            trackingStopped();
        }

        function timerCallback() {

            if (!track_enabled) {
                trackingStopped();
                return;
            }

            if (track_progress >= 20) {
                track_progress = 0;
                $.getJSON('/Clan/@Model.LinkID/Donations?counter=' + (++track_counter), dataCallback).fail(failCallback);
            } else {
                setTimeout(timerCallback, 3000);
            }

            updateProgress();
        }

        function scheduleNext(data) {
            prev_data = data;
            setTimeout(timerCallback, 3000);
            updateProgress();
        }

        function updateProgress() {
            track_progress++;
            var progress_text = '';
            for (var i = 0; i < track_progress; i++) {
                progress_text += '*';
            }
            $('.status').text(progress_text);
        }

        function trackingStopped() {
            createMessage('bg-warning', 'Tracking stopped');
            $('.btn-stop').hide();
            $('.btn-start').show();
            $('.status').text('');
        }

        $(function () {
            $('.btn-start').click(function () {
                $(this).hide();
                $('.btn-stop').show();
                createMessage('bg-success', 'Tracking started');
                track_enabled = true;
                track_counter = 0;
                track_progress = 0;
                $.getJSON('/Clan/@Model.LinkID/Donations?counter=' + track_counter, scheduleNext).fail(failCallback);
            });
            $('.btn-stop').click(function () {
                track_enabled = false;
                $(this).hide();
                createMessage('bg-info', 'Tracking stopping...');
                $('.status').text('');
            });
        });

    </script>
}
