@model LWFStatsWeb.Models.ClanViewModels.WeightSubmitModel

@{
    ViewBag.Title = Model.ClanName + " Weight Submit";
    ViewBag.MetaImage = Model.ClanBadge;
    ViewBag.MetaRobots = "noindex, nofollow";
    //int member_id = 0;
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Details" asp-route-id="@Model.ClanLink">@Model.ClanName</a></li>
    <li><a asp-area="" asp-controller="Clans" asp-action="Weight" asp-route-id="@Model.ClanLink">Weight</a></li>
    <li class="active">Submit</li>
</ol>

<div class="well" style="margin-top:20px;">
    <div class="row">
        <div class="col">
            <img src="@Model.ClanBadge" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
            <h3 style="margin-top:10px;margin-bottom:0px">@Model.ClanName</h3>
            <div class="text-muted">
                @Model.ClanTag
                <a class="text-muted" href="http://kuilin.net/cc/clan.php?tag=@Model.ClanLink"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">hocolate</span>C<span class="hidden-xs">lash</span></a>
                <a class="text-muted" href="https://www.clashofstats.com/clans/@Model.ClanLink"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">lash </span>o<span class="hidden-xs">f </span>S<span class="hidden-xs">tats</span></a>
            </div>
        </div>
    </div>
</div>

<h4>Submit Weight</h4>

@if(Model.Status == false)
{
    <div class="alert alert-danger"><b>Error: </b>@Model.Message</div>
}
else
{
    <div class="alert alert-success"><b>Success: </b>@Model.Message</div>
}

<div>
    <a class="btn btn-default" asp-area="" asp-controller="Clans" asp-action="Weight" asp-route-id="@Model.ClanLink">Back to Clan Weight</a>
    <a class="btn btn-default" href="@Model.SheetUrl">View Weight Sheet</a>
</div>

@section scripts {

    @if(Model.Status == true)
    {
        <script>
            window.location.replace("@Model.SheetUrl");
        </script>
    }
}