<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (ViewData.ContainsKey("MetaRobots"))
    {
        <meta name="robots" content="@ViewData["MetaRobots"]" />
    }

    <title>@ViewData["Title"] 💎 FWA Stats</title>
    <meta property="og:title" content="@ViewData["Title"] 💎 FWA Stats" />

    @if (ViewData.ContainsKey("MetaDescription"))
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
        <meta property="og:description" content="@ViewData["MetaDescription"]" />
    }

    @if (ViewData.ContainsKey("MetaImage"))
    {
        <meta property="og:image" content="@ViewData["MetaImage"]" />
    }
    else
    {
        <meta property="og:image" content="@Url.Content("~/images/balloon_parade.jpg")" />
    }

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-24G3LCZ85Z"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-24G3LCZ85Z');
        </script>
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">💎 FWA Stats</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Clans" asp-action="Index">Clans</a></li>
                    <li><a asp-area="" asp-controller="Syncs" asp-action="Index">Syncs</a></li>
                    <li><a asp-area="" asp-controller="Players" asp-action="Index">Players</a></li>
                    <li><a asp-area="" asp-controller="Data" asp-action="Index">Data</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

                </ul>
@*
    @await Html.PartialAsync("_LoginPartial")
*@
                </div>

            </div>
        </div>
        <div class="container body-content fill">
            @RenderBody()
            <div class="col-sm-12">
                <hr />
                <p>
                    <small class="text-muted">
                        This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it.
                        For more information see Supercell’s Fan Content Policy: <a href="http://www.supercell.com/fan-content-policy">www.supercell.com/fan-content-policy</a>.
                        This website uses cookies, more details in <a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>.
                    </small>
                </p>
            </div>
        </div>

        @RenderSection("modals", required: false)

        <environment names="Development">
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/lib/tablesorter/js/jquery.tablesorter.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.min.js"
                    asp-fallback-src="~/lib/tablesorter/js/jquery.tablesorter.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.tablesorter">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)

    </body>
    </html>
