@model FWAStatsWeb.Models.PlayerViewModels.DetailsViewModel
@using FWAStatsWeb.Logic

    @{
        ViewBag.Title = Model.Player.Name;
        ViewBag.MetaImage = Model.Player.BadgeUrl;
        if (string.IsNullOrEmpty(Model.Player.ClanTag))
        {
            ViewBag.MetaDescription = "Not in clan";
        }
        else
        {
            ViewBag.MetaDescription = Model.Player.ClanName + ", " + Model.Player.RoleName;
        }
        ViewBag.MetaRobots = "noindex, nofollow";
    }

    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Players" asp-action="Index">Players</a></li>
        @if (!string.IsNullOrEmpty(Model.Player.ClanTag))
        {
            <li><a asp-area="" asp-route-id="@Model.Player.ClanLinkID" asp-controller="Clans" asp-action="Details">@Model.Player.ClanName</a></li>
        }
        <li class="active">@Model.Player.Name</li>
    </ol>

    <div class="well" style="margin-top:20px;">
        <div class="row">
            <div class="col">
                <img src="@Model.Player.BadgeUrl" style="float:left;margin-right:10px;margin-left:10px;margin-top:-15px;" />
                @if (Model.Claimed)
                {
                    <a asp-area="" asp-route-id="@Model.Player.LinkID" asp-controller="Players" asp-action="Unlink" class="text-muted pull-right" style="margin-right:10px"><span class="glyphicon glyphicon-tag"></span> Unlink</a>
                }
                else
                {
                    <a asp-area="" asp-route-id="@Model.Player.LinkID" asp-controller="Players" asp-action="Link" class="text-muted pull-right" style="margin-right:10px"><span class="glyphicon glyphicon-tag"></span> Link</a>
                }
                <h3 style="margin-top:10px;margin-bottom:0px">@Model.Player.Name</h3>
                <div class="text-muted">
                    @if (!string.IsNullOrEmpty(Model.Player.ClanTag))
                    {
                        <a asp-area="" asp-route-id="@Model.Player.ClanLinkID" asp-controller="Clans" asp-action="Details">@Model.Player.ClanName</a>
                    }
                    <a class="text-muted" href="@Constants.KUILIN_NET/member.php?tag=@Model.Player.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">hocolate</span>C<span class="hidden-xs">lash</span></a>
                    <a class="text-muted" href="https://www.clashofstats.com/players/@Model.Player.LinkID"><span class="glyphicon glyphicon-link"></span>C<span class="hidden-xs">lash </span>o<span class="hidden-xs">f </span>S<span class="hidden-xs">tats</span></a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-xs-6 col-sm-3"><b>ExpLevel:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.ExpLevel</b></div>
                    <div class="col-xs-6 col-sm-3"><b>Trophies:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.Trophies</b></div>
                    <div class="col-xs-6 col-sm-3"><b>Donations:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.Donations</b></div>
                    <div class="col-xs-6 col-sm-3"><b>Received:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.DonationsReceived</b></div>
                    <div class="col-xs-6 col-sm-3"><b>AttackWins:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.AttackWins</b></div>
                    <div class="col-xs-6 col-sm-3"><b>DefenseWins:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.DefenseWins</b></div>
                    <div class="col-xs-6 col-sm-3"><b>BestTrophies:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.BestTrophies</b></div>
                    <div class="col-xs-6 col-sm-3"><b>TownHallLevel:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.TownHallLevel</b></div>
                    <div class="col-xs-6 col-sm-3"><b>WarStars:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.WarStars</b></div>
                    <div class="col-xs-6 col-sm-3"><b>Role:</b></div>
                    <div class="col-xs-6 col-sm-3"><b>@Model.Player.RoleName</b></div>
                </div>
            </div>
        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#events">Events</a></li>
        <li><a data-toggle="tab" href="#heroes">Heroes</a></li>
        <li><a data-toggle="tab" href="#troops">Troops</a></li>
        <li><a data-toggle="tab" href="#spells">Spells</a></li>
        <li><a data-toggle="tab" href="#achievements">Achievements</a></li>
    </ul>

    <div class="tab-content">
        <div id="heroes" class="tab-pane">
            <table class="table table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hero in Model.Player.Heroes)
                    {
                        <tr>
                            <td>@hero.Name</td>
                            <td>@hero.Level</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="troops" class="tab-pane">
            <table class="table table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var troop in Model.Player.Troops)
                    {
                        <tr>
                            <td>@troop.Name (@troop.Village)</td>
                            <td>@troop.Level</td>
                         </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="spells" class="tab-pane">
            <table class="table table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Level
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var troop in Model.Player.Spells)
                    {
                        <tr>
                            <td>@troop.Name</td>
                            <td>@troop.Level</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="achievements" class="tab-pane">
            <table class="table table-hover table-responsive tablesorter">
                <thead>
                    <tr>
                        <th>
                            Achievement
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var achievement in Model.Player.Achievements)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrEmpty(achievement.CompletionInfo))
                                {
                                    @achievement.Name<text>: </text>@achievement.Info
                                }
                                else if (achievement.CompletionInfo == "Completed!")
                                {
                                    @achievement.Info<text>: </text>@achievement.CompletionInfo
                                }
                                else
                                {
                                    @achievement.CompletionInfo
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="events" class="tab-pane active">
            @if (Model.Events != null)
            {
                <table class="table table-condensed table-hover table-responsive tablesorter">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var clanEvent in Model.Events)
                        {
                            <tr>
                                @if (clanEvent.EventType == PlayerEventType.Join)
                                {
                                    <td class="text-success">Joined to <b><a class="text-success" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clanEvent.Name</a></b></td>
                                }
                                @if (clanEvent.EventType == PlayerEventType.Leave)
                                {
                                    <td class="text-danger">Left from <b><a class="text-danger" asp-route-id="@clanEvent.LinkID" asp-area="" asp-controller="Clans" asp-action="Details">@clanEvent.Name</a></b></td>
                                }
                                @if (clanEvent.EventType == PlayerEventType.Promote)
                                {
                                    <td class="text-success">Promoted to @clanEvent.Value</td>
                                }
                                @if (clanEvent.EventType == PlayerEventType.Demote)
                                {
                                    <td class="text-danger">Demoted to @clanEvent.Value</td>
                                }
                                @if (clanEvent.EventType == PlayerEventType.Stars)
                                {
                                    <td class="text-warning">Scored @clanEvent.Value stars</td>
                                }
                                @if (clanEvent.EventType == PlayerEventType.Townhall)
                                {
                                    <td class="text-primary">Upgraded to TH<span>@clanEvent.Value</span></td>
                                }
                                 @if (clanEvent.EventType == PlayerEventType.NameChange)
                                {
                                    <td class="text-warning">Changed name from <b>@clanEvent.Value</b></td>
                                }
                                <td>@clanEvent.TimeDesc</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
