@model FWAStatsWeb.Models.PlayerViewModels.MyPlayersViewModel
@using FWAStatsWeb.Logic

@{
    ViewBag.Title = "My players";
    ViewBag.MetaRobots = "noindex, nofollow";
}

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">My Players</li>
</ol>

<h2>My Players</h2>

<ul class="pagination">
    <li><a asp-area="" asp-controller="Players" asp-action="Index">Search players</a></li>
    <li class="active"><a asp-area="" asp-controller="Players" asp-action="My">My players</a></li>
</ul>

<table class="table table-hover table-responsive tablesorter">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Clan
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>
                    <a asp-route-id="@player.LinkID" asp-area="" asp-controller="Players" asp-action="Details">@player.Name</a>
                </td>
                <td>
                    <a asp-route-id="@player.ClanLinkID" asp-area="" asp-controller="Clans" asp-action="Details">@player.ClanName</a>
                </td>
                <td>
                    <a asp-area="" asp-route-id="@player.LinkID" asp-controller="Players" asp-action="Unlink" class="btn btn-danger">Unlink</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Players" asp-action="NewLink" class="btn btn-default">Link new player</a>

<div style="margin-top: 20px;" class="alert alert-info">
    <strong>Info!</strong>
    You can link players if you click the link on upper right corner in player details page.
</div>
