@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Register";
}

<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">@ViewData["Title"]</div>
        </div>
        <div class="panel-body">

            @foreach (var provider in (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList())
            {
                <form asp-controller="Account" asp-action="ExternalLogin" id="login-@provider.Name">
                    <input type="hidden" name="returnurl" value="@ViewData["ReturnUrl"]" />
                    <input type="hidden" name="provider" value="@provider.Name" />
                </form>
            }

        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

            <div class="text-danger">
                @Html.ValidationSummary(true)
            </div>

            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Email" class="col-md-3 control-label"></label>
                <div class="input-group col-md-9">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="off">
                </div>
            </div>

            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Password" class="col-md-3 control-label"></label>
                <div class="input-group col-md-9">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="Password" class="form-control" placeholder="Password">
                </div>
            </div>

            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                <div class="input-group col-md-9">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox col-md-offset-3 col-md-9">
                    <label asp-for="AcceptPrivacyPolicy">
                        <input asp-for="AcceptPrivacyPolicy" />
                        @Html.DisplayNameFor(m => m.AcceptPrivacyPolicy)
                    </label>
                    <br />
                    <ul>
                        <li>Click here to read <a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success">Create account</button>
                    @{
                        var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (providers.Count > 0)
                        {
                            <text>or</text>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    @foreach (var provider in providers)
                    {
                        <a href="#" onClick="$('#login-@provider.Name').submit()" class="btn btn-primary">Register using @provider.DisplayName account</a>
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                        Already registered,
                        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login Here</a>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
